*{
    padding: 0;
    margin: 0;
}

#sidebar{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    width: 250px;
    height: 100vh;
    background-color: rgba(85, 87, 87, 0.763);
}
 #sidebar ul li{
    list-style: none;
    margin: 10px 0;
    text-decoration: none !important;
    font-size: 20px;
    cursor: pointer;
}



/* mobiles */

@media screen and (min-width:320px) and (max-width:767px) {
    .list{
        display:none;
    }
}


/* tablets  */
@media screen and (min-width:768px) and (max-width:900px) {
  
}